* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.window {
  height: 1000px;
}
#grid {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

.cell {
  background-color: white;
  border: 1px solid black;
}

.safe {
  background-color: dodgerblue;
}

.bomb {
  background-color: firebrick;
}
button {
  border: 1px solid black;
  padding: 5px 5px;
}
